# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/modules.xml

# VS Code
.vscode/

# Flutter/Dart/Pub related
.packages
.metadata
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/
coverage/

# Android specific
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties

# iOS specific
**/Generated.xcconfig

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
